
.siteFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.footerList {
  list-style-type: none;
  
}

.footerList a {
  text-decoration: none;
  color: white;
}

.footerList a:hover {
  color: orange;
}

.footerList a:visited {
  color: purple;
}

.footerBox {
  flex-grow: 1;
}

body {
  min-height: 100%;
  border: 3px solid orange;
}

#root {
  min-height: 100%;
  
  border: 3px solid green;
}

.App {
  text-align: center;
  height: 100%;
  display:flex;
  flex-direction: column;
  border: 3px solid red;
}

.content {
  
  border: 3px solid blue;

}

html {
  height: 100%;
}

.projectCard {
  max-width: 900px;
  margin: 20px auto;
  box-shadow: 2px 2px 3px slategray;
  
}

.projectCard__body {
  display: flex;
  flex-direction: row;
  
}

.projectCard__button {
  color: orange;
}

